<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Results</title>
    </head>
    <body>
        <table border="2">
            <tr>
                <th>SCORE</th>
                <th>RESULT</th>
            </tr>
            <tr>
                <td>{{results}}</td>
                {% if results >= 50 %}
                    <td>PASS</td>
                {% else %}
                    <td>FAIL</td>
                {% endif %}
            </tr>
        </table>
    </body>
</html>