<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Results</title>
    </head>
    <body>
        <h2>Enter Marks</h2>
        <form action="/getresults" method="POST">
            <label for="Science">Science:</label>
            <input type="text" id="Science" name="Science" value="0"><br>
            <label for="Mathematics">Mathematics:</label>
            <input type="text" id="Mathematics" name="Mathematics" value="0"><br>
            <label for="CLanguage">C Language:</label>
            <input type="text" id="CLanguage" name="CLanguage" value="0"><br>
            <label for="DataScience">Data Science:</label>
            <input type="text" id="DataScience" name="DataScience" value="0"><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>